<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta charset="utf-8"/>
    <title>
      <%= ENV['APP_NAME'] %>
    </title>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>

  <body id="pdf">
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>

